#container{
    width: 350px;
    height: 550px;
    position: relative;
    perspective: 1000px;
}
.letter_boxes{
    width: 50px;
    height: 50px;
    background: forestgreen;
    text-align: center;
    float: left;
    margin: 10px 10px;
    box-sizing: border-box;
    padding-top: 8px;
    font-size: 25px;
    position: absolute;
    z-index: 1;
    /*display: none;*/
    backface-visibility:hidden;
    transition: all 0.5s;
    transform:rotatey(180deg);
    transform-style:preserve-3d
}
.empty_boxes {
    width: 50px;
    height: 50px;
    float: left;
    margin: 10px 10px;
    background: darkgrey;
    z-index: 2;
    position: absolute;
    transition: all 0.5s;
    transform-style:preserve-3d;
    backface-visibility:hidden;
}